<form action="/todos/{{ todo._id}}?_method=DELETE" method="POST" style="display: inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
      </div>
    </div>
    <input class="form-control" type="text" placeholder="name" name="name" value="{{ todo.name }}" disabled> 
    <div class="input-group-append">
      {{!-- 下面的a標籤是用 http動詞的GET，不用改路由(參考app.js) --}}
      <a class="btn btn-success" href="/todos/{{ todo._id}}/edit">edit</a>
      <button class="btn btn-danger" type="submit">delete</button>
    </div>
  </div>
</form>