<p>
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
  {{ todo.name }}
</p>
{{!-- 下面的a標籤是用 http動詞的GET，不用改路由(參考app.js) --}}
<a href="/todos/{{ todo._id}}/edit">edit</a>
<a href="/">back</a>
<form action="/todos/{{ todo._id}}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>